*/__pycache__/
*/slurm*.out
*/*.png
*/*.svg
*/*.jpg
data/*.zip
data/*/state files
data/*/pictures
slurmout
tools/slurmout
tools/slurm*.out
tools/beam_definitions
tools/map_data/output/*.kml
config/test_calibrations/*.json
analysis/*.gif
analysis/*.png
analysis/*.jpg
